# Medusa Storefront (Vite)

# Medusa backend URL
VITE_MEDUSA_BACKEND_URL=/api

# Publishable API key (required for Medusa v2 Store API)
VITE_MEDUSA_PUBLISHABLE_KEY=pk_6e977f3f2cde2341e1a3d460ba84d0ea22fe2dabe883e550aee737ccd07b8494

# Optional: scope product queries to a Sales Channel
# If you generate 1 publishable key per store (recommended), you can leave this empty.
VITE_MEDUSA_SALES_CHANNEL_ID=

# Optional: force mock data on/off
# - true  -> always use mock data
# - false -> always use Medusa API
# If omitted, the app uses mock data until you configure backend url + publishable key.
VITE_USE_MOCK_DATA=false

VITE_MEDUSA_REGION_ID=reg_01KKDCDFF8FAGW1HRZXEV5F9KN
VITE_MERCADOPAGO_PUBLIC_KEY=TEST-36642b86-84fc-44b4-919f-c4ed0958b19c